
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_loggedin.cshtml";
}
8
<h2>Home</h2>
<yh3 class="label-info">This is your homepage </yh3>
<h4>  @Model.Name </h4>
<h4> @Model.Id </h4>
<h4> @Model.Dob </h4>